.navbar-nav .nav-link {
    white-space: nowrap;
}

.hero {
    background-image: url('https://img.freepik.com/premium-photo/clay-dishes-plate-top-view-free-space-your-text_187166-10574.jpg'); /* Путь к вашему изображению */
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    position: relative; 
}

.custom-orange {
    color: #96661d; /* Пример оранжевого оттенка */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2; 
}

.card {
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(1.05);
}

.card {
    border: none; 
    border-radius: 8px; 
    transition: transform 0.3s; 
}

.card:hover {
    transform: scale(1.05); 
}

.card-img-top {
    object-fit: cover;
    height: 200px; 
}

.testimonial-card {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.stars {
    font-size: 20px;
    color: gold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(69, 60, 60); 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
}